@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}
@using Nop.Web.Framework;

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @Html.Action("TopicBlock", "Topic", new { systemName = "OgonePaymentDecline" })
        </td>
    </tr>
</table>