@{
    Layout = "";
}

<!DOCTYPE html>

<html>
    <head>
        <script src="https://shippingmanager.bpost.be/ShmFrontEnd/shm.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>
            $(document).ready(function () {
                SHM.close('@ViewData["data"]');
            });
        </script>
    </head>
    <body>
        <div>
            Wacht even aub tot de pagina wordt herladen...
        </div>
    </body>
</html>
