@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="https://shippingmanager.bpost.be/ShmFrontEnd/shm.js"></script>
    <script> SHM.close("confirm"); </script>
</head>
<body>
    <div>

    </div>
</body>
</html>
