@model TModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="https://shippingmanager.bpost.be/ShmFrontEnd/shm.js"></script>
    <script> SHM.close("error"); </script>
</head>
<body>
    <div>
        Wacht even aub tot de pagina wordt herladen...
    </div>
</body>
</html>
